.container {
  background-color: #c9d5ef;
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

.counter {
  padding: 20px;
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  margin: 10px;
}

.btn:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.btn:hover {
  background: #7897d8;
}

/* モーダルウィンドウ */
.modal {
  background: #fff;
  color: #555;
  width: 300px;
  padding: 40px;
  border-radius: 4px;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: 0.4s;
  z-index: 2;
}

/* 背景マスク */
.mask {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.display-none {
  display: none;
}

/* 閉じるボタン */
.close {
  position: relative;
  
}